.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.project-list .project-container {
  padding: 10px;
}

.project-container .project-wrapper {
  height: fit-content;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.project-container .project-wrapper .top-section {
  border: 1px solid var(--border-color);
  background-color: var(--bg-card);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.project-wrapper .bottom-section .tasks-project {
  height: fit-content;
}

.project-container .project-name {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.project-container .view-tasks {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.project-wrapper .top-section .top-wrapper {
  display: flex;
  justify-content: space-between;
}

.percentage {
  width: 100%;
  border: 1px solid var(--border-color);
  height: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.current {
  border-radius: 10px;
}

.percent-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tasks-project {
  padding: 10px;
  height: fit-content;
  border: 1px solid var(--border-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none;
}

.bottom-section .top-container {
  display: flex;
  justify-content: space-between;
}

.tasks-project .task {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}