:root {
  --bg-main: #0F0F16;
  --bg-card: #181821;
  --bg-card-hover: #1a1a24;
  --border-color: #363642;

  --text-primary: #f1f1f5;
  --text-secondary: #8c8c9e;
  --text-muted: #575768;
  --text-active: rgb(68, 68, 205);

  --color-primary: #7c3aed;
  --color-primary-light: #9061f9;
  --color-primary-bg: #231942;

  --color-success: #10b981; 
  --color-success-bg: rgba(16, 185, 129, 0.15);

  --color-warning: #f59e0b; 
  --color-warning-bg: rgba(245, 158, 11, 0.15);

  --color-danger: #ef4444; 
  --color-danger-bg: rgba(239, 68, 68, 0.15);

  --color-avatar-bg: #8b5cf6;
  --color-tag-purple-bg: #1e1b4b;

  --color-todo: blue;
  --color-progress: yellow;
  --color-done: green;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body, html {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

ul {
  list-style: none;
}

.sidebar {
  background: var(--bg-card);
  color: var(--text-primary);
  z-index: 999;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.sidebar .top-wrapper .top-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
}

.sidebar .top-wrapper .top-section p {
  font-weight: 600;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-main);
  width: 100%;
  color: var(--color-text-primary);
}

.header {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-md);
  z-index: 1000;
  padding: 0 1.5rem;
  height: fit-content;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.main {
  padding: 1.5rem;
  min-height: 0;
  height: 100vh;
  overflow-y: auto;
  color: var(--text-secondary);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links-container .nav-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
  padding: 10px;
}

.nav-links .links {
  text-decoration: none;
  color: black;
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  font-size: 14px;
}

.nav-links a span {
  color: var(--text-secondary);
  transition: .3s ease;
}

.nav-links .links .name-bar {
  width: 80%;
  margin-left: 10px;
}

.nav-links .links.active {
  background-color: var(--color-primary-bg);
  pointer-events: none;
  opacity: 1;
}

.nav-links .links:hover {
  background-color: var(--bg-card-hover);
}

.nav-links .links:hover span {
  color: var(--text-primary);
}  

.nav-links .links.active span {
  color: var(--color-primary);
}

/* .nav-links .links.active::after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: var(--color-primary-blue);
  position: absolute;
  left: 0;
} */

.logo-wrapper .logo {
  width: 30px;
}

.header .header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.header .left-section {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  position: relative;
}

.header .left-section input {
  padding: 10px;
  width: 60%;
  border-radius: 15px;
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  color: var(--text-secondary);
  padding-left: 30px;
}

.header .left-section svg {
  position: absolute;
  left: 8px;
}

.header .left-section input:focus {
  outline: 1px solid var(--color-primary-green);
}

.header .right-section {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.header .right-section .profile-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .right-section .profile-wrapper svg {
  border-radius: 100%;
  color: var(--text-secondary);
  padding: 5px;
  background-color: var(--bg-card-hover);
}

.header .add-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
}

.header .add-wrapper button {
  border: none;
  cursor: pointer;
  background-color: var(--color-primary-bg);
  color: var(--text-secondary);
  padding: 10px;
  border-radius: 10px;
  font-weight: var(--font-weight-bold);
}

.header .add-wrapper svg {
  margin-bottom: -3px;
}

.header .add-wrapper button:hover {
  border: 1px solid var(--color-primary-teal);
  opacity: .6;
}


.priority {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.priority.high {
  background-color: rgb(220, 38, 38);
}

.priority.low {
  background-color: rgb(75, 85, 99);
}

.priority.medium {
  background-color: rgb(217, 119, 6);
}